@model IEnumerable<Capa_Entidad.rptDoc_Result>

@{
    ViewBag.Title = "ResultadoRptDoc";
}

<h2>Reporte de documentos</h2>

<table class="table">
    <tr>

        <th>
            <label>Empleado</label>
        </th>
        <th>
            <label>Tipo</label>
        </th>
        <th>
            <label>Departamento de origen</label>
        </th>
        <th>
            <label>Departamento de destino</label>
        </th>
        <th>
            <label>Secuencia o código</label>
        </th>
        <th>
            <label>Fecha de expedio</label>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento_de_origen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento_de_Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secuencia_o_código)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_de_expedio)
            </td>
        </tr>
    }
</table>
<br />
<br />
<a href="/Report/IndexReport" class="btn btn-2 btn-2c">Volver</a>
